[Unit]
Description=docker boot
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/ubuntu/aws-codedeploy
ExecStart=/usr/bin/docker-compose -f /home/ubuntu/aws-codedeploy/docker-compose.yml up -d --remove-orphans

[Install]
WantedBy=multi-user.target